.backToTop-btn{
    position: fixed;
    z-index: 1000;
    bottom: 5.5rem;
    right: 1.5rem;
    padding: 0.35rem 0.35rem !important;
    min-width: 2.6rem !important;
    aspect-ratio: 1/1;
    transition: all 0.5s ease;
}

.backToTop-btn.hidden{
    /* display: none !important; */
    transform: scale(0);
}
.top-arrow{
    font-size: 1.2rem !important;
}
.backToTop-btn:hover{
    transform: scale(1.2);
}