@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --white: #fff;
  /* --black: red; */
  --black: #111;
  --black-light: rgba(27, 27, 27, 0.9);
  --grey: rgba(204, 204, 204, 0.8);
  --grey-dark: rgba(154, 154, 154, 1);
  --grey-darker: rgba(108, 108, 108, 0.12);
  --green: rgba(11, 233, 104, 1);
  --red: rgba(255, 69, 0, 1);
  --transition-fast: all 0.3s ease;
  --gradient__purple: ;

  /* My vars */
  --purple: rgba(130, 95, 233, 1);
  --purple-light: rgba(178, 155, 239, 0.6);
  --purple-lighter: rgba(178, 155, 239, 0.2);
  --turquoise: rgba(81, 163, 195, 1);
  --turquoise-light: rgba(115, 198, 205, 0.7);
  --siren: rgba(127, 206, 148, 1);
  --siren-light: rgba(168, 255, 192, 0.7);
  --pink-light: rgba(255, 175, 215, 1);
  --blue-dark: rgba(44, 120, 183, 1);
  /* my fonts */
  --font-heading: Rubik, sans-serif;
  --font-article: Barlow, sans-serif;
  /* my font sizes */
  --fs-normal: 1rem;
  --fs-large: 1.4rem;
  --fs-medium: 1.2rem;
  --fs-small: 0.95rem;
  /*  */
  --box-shadow-purple:
    var(--purple-lighter) 0px 18px 70px -18px inset,
    var(--purple-lighter) 0px 9px 40px -18px inset;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font-article);
}

a {
  text-decoration: none !important;
  color: inherit;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

h1 {
  font-family: var(--font-heading);
  font-weight: 700;
  margin: 0;
}

/* Custome selection css */
::selection {
  background-color: var(--pink-light);
  color: var(--blue-dark);
}

/* ! Disable Image dragging */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* ! Scrollbar css */

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--purple-lighter);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--purple-light);
  border-radius: 6px;
  border: 1px solid var(--purple);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--purple);
}

.list__wrapper {
  margin: 0 1.5rem 0.5rem 1.5rem;
  /* background-color: var(--grey-darker); */
  /* box-shadow: var(--box-shadow-purple); */
  box-sizing: border-box;
  border-radius: 1rem;
}

.info__wrapper {
  padding: 1rem;
  margin: 0 1.5rem 1rem 1.5rem;
  background-color: var(--grey-darker);
  box-shadow: var(--box-shadow-purple);
  border-radius: 1rem;
}

.chart__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
}

.chart__options.compare {
  justify-content: center;
  align-items: center;
  /* padding: 0.25rem 1rem 0.25rem 0.5rem; */
}

.css-1sid6pb-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: var(--pink-light) !important;
}

.css-lzltwq-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root::after {
  border-bottom: 2px solid var(--pink-light) !important;
}


@media only screen and (max-width: 512px) {

  .list__wrapper,
  .info__wrapper {
    margin: 0 1rem 0.5rem 1rem;
  }

  .info__wrapper {
    padding: 0.5rem;
  }
}